<main>
	<div class="charts">
		<section>
			{{pie-chart 'Data' model.meta.labels model.meta.data}}
		</section>
		<section>
			{{bar-chart 'Posts' model.posts.labels model.posts.data}}
			{{bar-chart 'Users' model.users.labels model.users.data}}
		</section>
	</div>
</main>
